{% extends 'base.html' %}

{% block content %}
<div id="movie-search" class="component-init">
  <div class="container-xnarrow vertical" style="position: relative">
    <div class="vertical">
      <div id="movie-detail-title" class="books-index-title">상세 정보</div>
      <div class="movie-detail-body horizontal">
        <div class="movie-detail-poster" style="background-image: url('https://image.tmdb.org/t/p/w500{{ movie.poster_path }}');"></div>
        <div class="movie-detail-content vertical">

          <div class="movie-detail-content-title">{{ movie.title }}</div>

          <div class="movie-detail-content-item">
            {% for genre in genres %}
              <div class="movie-detail-content-genre">{{ genre.name }}</div>
            {% endfor %}
          </div>

          <div class="movie-detail-content-item">
            <div class="movie-detail-tag"><i class="fa-solid fa-star" style="color: red; margin-right: 10px;"></i></div>
            <div class="movie-detail-content-vote">{{ movie.vote_average|floatformat:2 }}</div>
          </div>

          <div class="movie-detail-content-item">
              <div class="movie-detail-content-overview">{{ movie.overview }}</div>
          </div>
          
          <div id="movie-detail-create-link">
            <div id="movie-detail-create-btn">추가하기</div>
          </div>
        </div>
      </div>
    </div>

    <div class="movie-detail-people horizontal">
      <div id="movie-detail-title" class="books-index-title">출연진 및 제작진</div>
      {% for person in people %}
      <a href="{% url 'movies:detail_person' person.pk %}">
        <div class="movie-detail-person vertical">
          <div class="movie-detail-person-face" style="background-image: url('https://image.tmdb.org/t/p/w500{{ person.profile_path }}');"></div>
          <div class="movie-detail-person-name">{{ person.name|truncatechars:20 }}</div>
          <div class="movie-detail-person-role">{{ person.known_for_department }}</div>
        </div>
      </a>
      {% endfor %}
    </div>

    <div id="my-books" class="movie-detail-people horizontal">
      <div id="movie-detail-title" class="books-index-title" style="width: calc(100% - 112px);">이 영화가 속한 테마북</div>
      <div class="books-buttons">
        <div id="my-books-left" class="books-left-btn left-btn-disavailable"></div>
        {% if books|length <= 5 %}
          <div id="my-books-right" class="books-right-btn right-btn-disavailable"></div>
        {% else %}
          <div id="my-books-right" class="books-right-btn right-btn-available"></div>
        {% endif %}
      </div>
    </div>

  <div id="movie-detail-add-x" class="hidden"></div>
  <div id="movie-detail-add" class="hidden">
    {% for book in books %}
      <form action="{% url 'books:create_card' book.pk movie.pk %}" method="POST">
        {% csrf_token %}
        <div class="vertical" style="cursor: pointer;">
        <input type="submit" class="movie-detail-book-thumbnail" value="" style="background-image: url('{{ book.cover_image.url }}'); opacity: 1; z-index: 100;">
        <input type="submit" value="{{ book.title }}" class="detail-submit-title">
        <input type="submit" value="{{ book.semi_title }}" class="detail-submit-semi-title">
        </div>
      </form>
    {% endfor %}
  </div>
        
</div>
{% endblock content %}

{% block script %}
<script src="https://kit.fontawesome.com/2abf5eb55e.js" crossorigin="anonymous"></script>
<script>
  const myBooksLeft = document.getElementById('my-books-left')
  const myBooksRight = document.getElementById('my-books-right')

  const books = [
    {% for book in books %}
      {
        pk: "{{ book.pk }}",
        title: "{{ book.title }}",
        semi_title: "{{ book.semi_title }}",
        cover_image: "{{ book.cover_image.url }}",
      },
    {% endfor %}
  ]

  const myBooks = document.getElementById('my-books')
  const maxPage = Math.ceil(books.length/5)
  if(maxPage === 0) {
    myBooksRight.classList.replace("right-btn-available", "right-btn-disavailable")
  }

  for(let i=0; i<maxPage; i++) {
    
    const myBooksList = document.createElement('div')
    myBooksList.id = `my-books-list${i}`
    myBooksList.classList.add("detail-books-body", "horizontal")
    if(i !== 0) {
      myBooksList.classList.add("hidden")
    }

    for(let j=0; j<Math.min(5, books.length-(i*5)); j++) {
      const themeBook = document.createElement('a')
      const bookThumbnail = document.createElement('div')
      const bookTitle = document.createElement('div')
      const bookSemi = document.createElement('div')
      bookThumbnail.classList.add("detail-book-thumbnail")
      bookTitle.classList.add("book-title")
      bookSemi.classList.add("book-semi")

      themeBook.appendChild(bookThumbnail)
      themeBook.appendChild(bookTitle)
      themeBook.appendChild(bookSemi)
      themeBook.classList.add("detail-book", "vertical")
      themeBook.style.cssText = "display:flex; justify-content: center;"

      bookTitle.innerText = books[i*5+j].title
      bookSemi.innerText = books[i*5+j].semi_title
      themeBook.href = BASE_URL + '/books/' + books[i*5+j].pk + '/detail/' 
      bookThumbnail.style.cssText = `background-image: url('${books[i*5+j].cover_image}');`
      
      myBooksList.appendChild(themeBook)

      myBooks.appendChild(myBooksList)
    }
  }

  let myBookPage = 0;

  myBooksLeft.addEventListener("click", (e) => {
    e.preventDefault()
    if(myBookPage > 0) {
      const lastBooksList = document.getElementById(`my-books-list${myBookPage}`)
      const newBooksList = document.getElementById(`my-books-list${myBookPage-1}`)

      lastBooksList.classList.add("hidden")
      newBooksList.classList.remove("hidden")
      myBookPage -= 1
      isEnd(myBookPage)
    }
  })

  myBooksRight.addEventListener("click", (e) => {
    e.preventDefault()
    if(myBookPage < maxPage-1) {
      const lastBooksList = document.getElementById(`my-books-list${myBookPage}`)
      const newBooksList = document.getElementById(`my-books-list${myBookPage+1}`)

      lastBooksList.classList.add("hidden")
      newBooksList.classList.remove("hidden")
      myBookPage += 1
      isEnd(myBookPage)
    }
  })

  function isEnd(myBookPage) {
    if(myBookPage === 0) {
      myBooksLeft.classList.replace("left-btn-available", "left-btn-disavailable")
    }
    else {
      myBooksLeft.classList.replace("left-btn-disavailable", "left-btn-available")
    }

    if(myBookPage === maxPage-1) {
      myBooksRight.classList.replace("right-btn-available", "right-btn-disavailable")
    }
    else {
      myBooksRight.classList.replace("right-btn-disavailable", "right-btn-available")
    }
  }

  const addX = document.getElementById('movie-detail-add-x')
  const detailAdd = document.getElementById('movie-detail-add')
  const createBtn = document.getElementById('movie-detail-create-btn')

  createBtn.addEventListener('click', (e) => {
    e.preventDefault()
    detailAdd.classList.remove('hidden')
    addX.classList.remove('hidden')

    addX.addEventListener('click', (event) => {
      event.preventDefault()
    detailAdd.classList.add('hidden')
    addX.classList.add('hidden')
    })
  })

    
</script>
{% endblock script %}