{% extends 'base.html' %}

{% block content %}
<div id="movie-search" class="component-init">
  <div class="container-xnarrow vertical">
    <div class="vertical">
      <div id="movie-detail-title" class="books-index-title">상세 정보</div>
      <div class="movie-detail-body horizontal">
        <div class="movie-detail-poster" style="background-image: url('https://image.tmdb.org/t/p/w500{{ movie.poster_path }}');"></div>
        <div class="movie-detail-content vertical">

          <div class="movie-detail-content-title">{{ movie.title }}</div>

          <div class="movie-detail-content-item">
            {% for genre in genres %}
              <div class="movie-detail-content-genre">{{ genre.name }}</div>
            {% endfor %}
          </div>

          <div class="movie-detail-content-item">
            <div class="movie-detail-tag"><i class="fa-solid fa-star" style="color: red; margin-right: 10px;"></i></div>
            <div class="movie-detail-content-vote">{{ movie.vote_average|floatformat:2 }}</div>
          </div>

          <div class="movie-detail-content-item">
              <div class="movie-detail-content-overview">{{ movie.overview }}</div>
          </div>
          
          <a id="movie-detail-create-link" href="{% url 'movies:select_book' movie.pk %}">
            <div id="movie-detail-create-btn">추가하기</div>
          </a>
        </div>
      </div>
    </div>

    <div class="movie-detail-people horizontal">
      <div id="movie-detail-title" class="books-index-title">CREDIT</div>
      {% for person in people %}
      <a href="{% url 'movies:detail_person' person.pk %}">
        <div class="movie-detail-person vertical">
          <div class="movie-detail-person-face" style="background-image: url('https://image.tmdb.org/t/p/w500{{ person.profile_path }}');"></div>
          <div class="movie-detail-person-name">{{ person.name }}</div>
          <div class="movie-detail-person-role">{{ person.known_for_department }}</div>
        </div>
      </a>
      {% endfor %}
    </div>

        
</div>
{% endblock content %}

{% block script %}
<script src="https://kit.fontawesome.com/2abf5eb55e.js" crossorigin="anonymous"></script>
{% endblock script %}