{% extends 'base.html' %}

{% block content %}

<div id="movie-search" class="component-init">
  <div class="container-xnarrow vertical">
    <div id="search-movie" class="vertical search-container">


      <div class="recommeneded-items">
        <div id="search-index-movies" class="books-index-title">YD's PICK</div>
        <div class="recommended-items-row">
          {% for top_clicked_movie in top_clicked_movies %}
          <a href="{% url 'movies:detail' top_clicked_movie.pk %}">
            <div class="recommeneded-item vertical">
              <div class="recommeneded-item-thumbnail" style="background-image: url('https://image.tmdb.org/t/p/w500/{{ top_clicked_movie.poster_path }}');"></div>
              <div class="recommeneded-item-title">{{ top_clicked_movie.title|truncatechars:15 }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>

      {% for choice_genre in choice_genres %}
        <div class="recommeneded-items">
          <div id="search-index-movies" class="books-index-title">YD's {{ choice_genre.name }}</div>
          <div class="recommended-items-row">
            {% for choice_movie in choice_genre.movie_set.all|slice:":5" %}
            <a href="{% url 'movies:detail' choice_movie.pk %}">
              <div class="recommeneded-item vertical">
                <div class="recommeneded-item-thumbnail" style="background-image: url('https://image.tmdb.org/t/p/w500/{{ choice_movie.poster_path }}');"></div>
                <div class="recommeneded-item-title">{{ choice_movie.title|truncatechars:15 }}</div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="recommeneded-items">
        <div id="search-index-movies" class="books-index-title">YD's CREDIT</div>
        <div class="recommended-items-row">
          {% for popular_person in popular_people %}
          <a href="{% url 'movies:detail_person' popular_person.pk %}">
            <div class="recommeneded-item vertical">
              <div class="recommeneded-item-thumbnail" style="background-image: url('https://image.tmdb.org/t/p/w500/{{ popular_person.profile_path }}');"></div>
              <div class="recommeneded-item-title">{{ popular_person.name|truncatechars:15 }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}