#book-detail {
  width: 100%;
  justify-content: center;
}

#book-detail-container {
  width: 1130px;
  padding: 65px;
}

#book-detail-cover {
  width: 950px;
  height: 350px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 20px 25px 20px 25px;
}

#book-detail-movies {
  width: 1000px;
}

.book-detail-movies {
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
}

.book-detail-movies-body {
  width: 100%;
  gap: 8px;
  padding: 20px 0px 20px 0px;
}

.book-detail-movie-card {
  position: relative;
  width: 136px;
  height: 189px;
  background-color: #f5f5f5;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.card-none {
  position: absolute;
  width: 136px;
  height: 189px;
  border-radius: 3px;
  background-color: black;
  opacity: 0.8;
}

.book-movie-poster {
  width: 125px;
  height: 179px;
  border-radius: 5px;
  background-size: 100%;
}

#book-cover-profile {
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#cover-top {
  width: 100%;
  justify-content: flex-start;
}

#cover-base {
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

#cover-base-content {
  flex-flow: column wrap;
  gap: 20px;
}

#cover-base-content-horizontal {
  flex-flow: row wrap;
  align-items: flex-end;
}

#cover-base-btn {
  flex-flow: row wrap;
}

#cover-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #f5f5f5;;
  margin-right: 10px;
  text-shadow: 1px 1px 2px black;
}

#cover-semi-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #f5f5f5;
  margin-right: 40px;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 2px;
}

#book-edit {
  height: 20px;
  width: 20px;
  background-image: url('../images/icons/book-edit.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#book-delete {
  height: 20px;
  width: 20px;
  background-image: url('../images/icons/book-delete.png');
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

#book-delete-btn {
  background-color: transparent;
  border: none;
}

.profile-background {
  width: 40px;
  height: 40px;
  background-color: black;
  border: 1px solid #cdcdcd;
  border-radius: 50px;
}

.card-create-btn {
  width: 100%;
  height: 100%;
  /* background-image: url('../images/icons/plus-color.png'); */
  background-image: url('../images/icons/plus.png');
  background-size: auto 30%; background-repeat: no-repeat; background-position: center;
  z-index: 10;
}

#card-create:hover {
  background-color: #cdcdcd;
}

.unlike-btn {
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/unlike.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  color: transparent
}

.like-btn {
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/like.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  color: transparent
}

#like-cnt {
  font-size: 16px;
  font-weight: 400;
  color: #f5f5f5;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 3px;
}