#change-password-form > form {
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #f5f5f5;
  line-height: 1.2;
}

#change-password-form > form li:nth-child(4) {
  margin-bottom: 20px;
}

#id_old_password {
  width: calc(100% - 37px);
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 7px;
  border: solid 2px #f5f5f5;
  padding: 0px 15px 0px 15px;
  color: #f5f5f5;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}

#id_new_password1 {
  width: calc(100% - 37px);
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 7px;
  border: solid 2px #f5f5f5;
  padding: 0px 15px 0px 15px;
  color: #f5f5f5;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}

#id_new_password2 {
  width: calc(100% - 37px);
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 7px;
  border: solid 2px #f5f5f5;
  padding: 0px 15px 0px 15px;
  color: #f5f5f5;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}