#select-label {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
}

#select-movie-search {
  width: 400px;
  height: 40px;
  padding: 0px 15px 0px 15px;
  border: 3px solid #c5c5c5;
  border-radius: 10px;
  background-color: transparent;
  color: #c5c5c5;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 30px;
}

.select-search-result {
  width: 520px;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
}

.select-movie-content {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

#select-movie-add {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("../images/icons/plus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}