.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.vertical {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.hidden {
  display: none;
}

body {
  background-color: black;
  color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  height: 15%; /* 스크롤바의 길이 */
  background: #333333; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .1);  /*스크롤바 뒷 배경 색상*/
}

a {
  transition: all .2s ease-in-out;
}

a:hover {
  transform: scale(1.02);
}

input[type=submit] { transition: all .2s ease-in-out; }
input[type=submit]:hover { transform: scale(1.02); }