{% if user.is_authenticated %}
<div id="navbar" class="horizontal">
  <div id="navbar-left" class="horizontal">
    <div id="nav-logo"></div>
    <div id="nav-title">Young Duck</div>
  </div>
  <div id="nav-search-box" class="hidden">
    <form action="{% url 'movies:search' %}">
      <input type="search" name="nav-search-form" id="nav-search-form" placeholder="검색어를 입력하세요" minlenght="1" maxlength="20">
    </form>
  </div>
  <div id="navbar-center" class="horizontal">
    <div id="nav-home">
      <span class="navbar__span">홈</span>
    </div>
    <div id="nav-around">
      <span class="navbar__span">둘러보기</span>
    </div>
    <div id="nav-search">
      <span class="navbar__span">검색</span>
    </div>
  </div>
  <div id="navbar-right" class="horizontal">
    <div id="nav-profile" style="background-image: url('{{ user.profile.profile_img.url }}'); background-size: 100%;"></div>
  </div>
</div>

<div id="profile-modal" class="vertical hidden">
  <div id="profile-modal-header" class="horizontal">
    <div id="profile-modal-thumbnail" style="background-image: url('{{ user.profile.profile_img.url }}'); background-size: 100%;"></div>
    <div id="profile-modal-hello" class="vertical">
      <div>반가워요,</div>
      <div>
        {% if user.profile.nickname %}
          <span style="font-weight: 600;">{{ user.profile.nickname }}</span>
          <span>님!</span>
        {% else %}
          <span style="font-weight: 600;">{{ user.pk }}번째 수집가</span>
          <span>님!</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="profile-modal-body" class="vertical">
    <form action="{% url 'accounts:profile' user.username %}" method="POST" id="modal-profile" class="modal-post">
      {% csrf_token %}
      <button id="profile-modal-myprofile" class="horizontal modal-inner" style="cursor: pointer;">
        <div id="myprofile-icon" class="modal-icon"></div>
        <div id="myprofile-text">My Profile</div>
      </button>
    </form>
    <form action="#" method="POST" id="modal-profile" class="modal-post">
      {% csrf_token %}
      <button id="profile-modal-friends" class="horizontal modal-inner" style="cursor: pointer;">
        <div id="friends-icon" class="modal-icon"></div>
        <div id="friends-text">Search Friends</div>
      </button>
    </form>
    <form action="{% url 'accounts:update' %}" id="modal-update" class="modal-post">
      <button id="profile-modal-settings" class="horizontal modal-inner" style="cursor: pointer;">
        <div id="settings-icon" class="modal-icon"></div>
        <div id="settings-text">Settings</div>
      </button>
    </form>
    <form action="{% url 'accounts:logout' %}" method="POST" id="modal-logout" class="modal-post">
    {% csrf_token %}
      <button id="profile-modal-logout" class="horizontal modal-inner" style="cursor: pointer;">
        <div id="logout-icon" class="modal-icon"></div>
        <div style="display:flex;" id="logout-text">Logout</div>
      </button>
    </form>
  </div>
</div>


{% endif %}