<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- static 불러오기 -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile-modal.css' %}">
  <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <link rel="stylesheet" href="{% static 'css/book-index.css' %}">
  <link rel="stylesheet" href="{% static 'css/book-detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/book-create.css' %}">
  <link rel="stylesheet" href="{% static 'css/select_movie.css' %}">
  <link rel="stylesheet" href="{% static 'css/card-create.css' %}">
  <link rel="stylesheet" href="{% static 'css/card-detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/recommended.css' %}">
  <link rel="stylesheet" href="{% static 'css/movie-detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/movie-search.css' %}">
  <link rel="stylesheet" href="{% static 'css/account-update.css' %}">
  <link rel="stylesheet" href="{% static 'css/change-password.css' %}">

  <!-- font 추가 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <title>영화 덕후들을 위한 페이지, 영덕</title>
</head>
<body>
  
  {% include '_nav.html' %}

  {% block content %}
  {% endblock content %}

  {% load static %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'src/Nav.js' %}"></script>

  {% block script %}
  {% endblock script %}

</body>
</html>