{% extends 'base.html' %}

{% block content %}

<div id="create-card" class="component-init">
	<div id="create-card-background" style="background-image: url('https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}')" class="background">
	</div>
	<div class="card-container">
		<div class="card-back vertical">
			<div class="card-header horizontal">
				<a class="card-header-left" href="javascript:history.back()">
					<div class="left-arrow-black card-btn"></div>
				</a>
				<div class="card-header-center">Y-Card</div>
				<a class="write-black card-header-right">
					<div class="write-black card-btn"></div>
				</a>
			</div>
			<div class="card-cover" style="background-image: url('https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}')"></div>
			<div class="card-body vertical">
				<div class="card-body-top vertical">

					<div class="card-title card-inner vertical">
						<div class="card-tag">Title</div>
						<div id="card-title">{{ movie.title }}</div>
					</div>					

					<div class="card-genre card-inner vertical">
						<div class="card-tag">Genre</div>
						<div class="card-genre-list horizontal">
							{% for g in genre %}
								<div id="card-genre">{{ g.name }}</div>
							{% endfor %}
						</div>
					</div>

					<div class="card-credit card-inner vertical">
						<div class="card-credit">Credit</div>
						<div class="card-credit-list horizontal">
							{% for person in people %}
								<a id="card-person" href="{% url 'movies:detail_person' person.pk %}">{{ person.name }}</a>
							{% endfor %}
						</div>
					</div>

				</div>
				
				<hr class="card-line">

				<div class="card-body-base">
					<div>{{ card.my_comment }}</div>
					<div>{{ card.my_score }}</div>
					<div>{{ card.visited_count }}</div>
					<div id="qr-img" style="background-image: url('/{{ qr_img }}');"></div>
				</div>
			</div>
			<div class="card-tail">
			</div>
		</div>
	</div>
</div>

	{% comment %} <div class="container" style="margin: 100px;">
		<h1>CARD DETAIL</h1>
		<h2>{{ card.watched_movie.title }}</h2>
        <p>{{ card.my_score }}</p>
        <p>{{ card.my_comment }}</p>
        <p>지금까지 {{ card.visits_count }}번 관람하셨습니다.</p>
		<hr>
		<a href="{% url 'books:update_card' card.pk %}">UPDATE</a>
		<form action="{% url 'books:delete_card' card.pk %}" method="POST">
			{% csrf_token %}
			<input type="submit" value="DELETE">
		</form>
		<a href="{% url 'books:index' %}">[back]</a>
	</div> {% endcomment %}

{% endblock content %}