{% extends 'base.html' %}

{% block content %}
<div id="book-detail">
	<div id="book-detail-container" class="vertical">
		<div id="book-detail-cover" style="background-image: url('{{ book.cover_image.url }}'); background-position: center center;" class="vertical">
			<div id="cover-top" class="horizontal">
				<div class="profile-background">
					<a href="{% url 'accounts:profile' person.username %}">
					<div id="book-cover-profile" style="background-image: url('{{ person.profile.profile_img.url }}')"></div>
				</a>
				</div>
			</div>

			<div id="cover-base" class="horizontal">
				<div id="cover-title">{{ book.title }}</div>
				<div id="cover-semi-title">{{ book.semi_title }}</div>
				{% if user  == person %}
				<a href="{% url 'books:update' book.pk %}">
					<div id="book-edit"></div>
				</a>
				<form action="{% url 'books:delete' book.pk %}" method="POST">
					{% csrf_token %}
					<button id="book-delete-btn">
						<div id="book-delete" ></div>
					</button>
				</form>
				{% else %}
				<form action="{% url 'books:steal_book' book.pk %}" method="POST">
					{% csrf_token %}
					<button id="book-delete-btn" >
						<div id="book-edit" ></div>
					</button>
				</form>
				{% endif %}
			</div>
		</div>
		{% comment %} <span>{{ book.like_users|length }}</span> {% endcomment %}

		<div id="book-detail-movies" class="book-detail-movies vertical">
			<div class="book-detail-movies-body horizontal">
				<!-- for문 왕창 돌리기 -->
				{% for card in cards %}
				<a href="{% url 'books:detail_card' card.pk %}">
					<div class="book-detail-movie-card">
						{% if card.visited_count == 0 %}
							<div class="card-none"></div>
						{% endif %}
						<div class="book-movie-poster" style="background-image: url('https://image.tmdb.org/t/p/w500{{ card.watched_movie.poster_path }}')">
						</div>
					</div>
				</a>
				{% endfor %}
				{% if user == person %}				
					<a href="{% url 'books:select_movie' book.pk %}">
						<div id="card-create" class="book-detail-movie-card" style="background-color: transparent;">
							<div class="card-create-btn"></div>
						</div>
					</a>
				{% endif %}
			</div>
		</div>

	</div>
</div>
{% endblock content %}