{% extends 'base.html' %}

{% block content %}
<div id="books">
  <div id="books-container" class="vertical">
    
    <!-- 나의 테마북 -->
    <div id="my-books" class="books vertical">
      <div class="books-header">
        <div id="my-books-title" class="books-index-title">나의 테마북</div>
        <div class="books-buttons">
          <div id="my-books-left" class="books-left-btn left-btn-disavailable"></div>
          {% if books.count < 5 %}
            <div id="my-books-right" class="books-right-btn right-btn-disavailable"></div>
          {%else %}
            <div id="my-books-right" class="books-right-btn right-btn-available"></div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- 인기 테마북 -->
    <div id="popular-books" class="books vertical">
      <div class="books-header">
        <div id="my-books-title" class="books-index-title">인기 테마북</div>
        <div class="books-buttons">
          <div id="popular-books-left" class="books-left-btn left-btn-disavailable"></div>
          {% if popular_books.count < 5 %}
            <div id="popular-books-right" class="books-right-btn right-btn-disavailable"></div>
          {% else %}
            <div id="popular-books-right" class="books-right-btn right-btn-available"></div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- 최신 테마북 -->
    <div id="newest-books" class="books vertical">
      <div class="books-header">
        <div id="my-books-title" class="books-index-title">최신 테마북</div>
        <div class="books-buttons">
          <div id="newest-books-left" class="books-left-btn left-btn-disavailable"></div>
          {% if friends_books.count < 5 %}
            <div id="newest-books-right" class="books-right-btn right-btn-disavailable"></div>
          {% else %}
            <div id="newest-books-right" class="books-right-btn right-btn-available"></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block script %}
<script>
  const myBooksLeft = document.getElementById('my-books-left')
  const myBooksRight = document.getElementById('my-books-right')

  const books = [
    {% for book in books %}
      {
        pk: "{{ book.pk }}",
        title: "{{ book.title }}",
        semi_title: "{{ book.semi_title }}",
        cover_image: "{{ book.cover_image.url }}",
      },
    {% endfor %}
  ]
  books.push('end')

  const myBooks = document.getElementById('my-books')
  const maxPage = Math.ceil(books.length/5)
  if(maxPage === 0) {
    myBooksRight.classList.replace("right-btn-available", "right-btn-disavailable")
  }

  for(let i=0; i<maxPage; i++) {
    
    const myBooksList = document.createElement('div')
    myBooksList.id = `my-books-list${i}`
    myBooksList.classList.add("books-body", "horizontal")
    if(i !== 0) {
      myBooksList.classList.add("hidden")
    }

    for(let j=0; j<Math.min(5, books.length-(i*5)); j++) {
      const themeBook = document.createElement('a')
      const bookThumbnail = document.createElement('div')
      const bookTitle = document.createElement('div')
      const bookSemi = document.createElement('div')
      bookThumbnail.classList.add("book-thumbnail")
      bookTitle.classList.add("book-title")
      bookSemi.classList.add("book-semi")

      themeBook.appendChild(bookThumbnail)
      themeBook.appendChild(bookTitle)
      themeBook.appendChild(bookSemi)
      themeBook.classList.add("book", "vertical", "grow")
      themeBook.style.cssText = "display:flex; justify-content: center;"

      if(i*5+j === books.length-1) {
        bookThumbnail.id = "themeBookCreate"
        bookTitle.id = "themeBookCreateTitle"
        bookTitle.innerText = '테마북'
        bookSemi.id = "themeBookCreateSemi"
        bookSemi.innerText = '추가'
        bookTitle.style.visibility = "hidden"
        bookSemi.style.visibility = "hidden"
        themeBook.href = BASE_URL + '/books/create' 
        bookThumbnail.style.cssText = `background-image: url('/static/images/icons/plus.png'); background-size: auto 30%; background-repeat: no-repeat; background-position: center;`
      } 
      else {
        bookTitle.innerText = books[i*5+j].title
        bookSemi.innerText = books[i*5+j].semi_title
        themeBook.href = BASE_URL + '/books/' + books[i*5+j].pk + '/detail/' 
        bookThumbnail.style.cssText = `background-image: url('${books[i*5+j].cover_image}'); background-size: auto 100%; background-repeat: no-repeat; background-position: center;`
      }
      
      myBooksList.appendChild(themeBook)

      myBooks.appendChild(myBooksList)
    }
  }

  let myBookPage = 0;

  myBooksLeft.addEventListener("click", (e) => {
    e.preventDefault()
    if(myBookPage > 0) {
      const lastBooksList = document.getElementById(`my-books-list${myBookPage}`)
      const newBooksList = document.getElementById(`my-books-list${myBookPage-1}`)

      lastBooksList.classList.add("hidden")
      newBooksList.classList.remove("hidden")
      myBookPage -= 1
      isEndMyBook(myBookPage)
    }
  })

  myBooksRight.addEventListener("click", (e) => {
    e.preventDefault()
    if(myBookPage < maxPage-1) {
      const lastBooksList = document.getElementById(`my-books-list${myBookPage}`)
      const newBooksList = document.getElementById(`my-books-list${myBookPage+1}`)

      lastBooksList.classList.add("hidden")
      newBooksList.classList.remove("hidden")
      myBookPage += 1
      isEndMyBook(myBookPage)
    }
  })

  function isEndMyBook(myBookPage) {
    if(myBookPage === 0) {
      myBooksLeft.classList.replace("left-btn-available", "left-btn-disavailable")
    }
    else {
      myBooksLeft.classList.replace("left-btn-disavailable", "left-btn-available")
    }

    if(myBookPage === maxPage-1) {
      myBooksRight.classList.replace("right-btn-available", "right-btn-disavailable")
    }
    else {
      myBooksRight.classList.replace("right-btn-disavailable", "right-btn-available")
    }
  }
  
  // 인기 북
  const popularBooksLeft = document.getElementById('popular-books-left')
  const popularBooksRight = document.getElementById('popular-books-right')


  const popularBooksData = [
    {% for popular_book in popular_books %}
      {
        pk: "{{ popular_book.pk }}",
        title: "{{ popular_book.title }}",
        semi_title: "{{ popular_book.semi_title }}",
        cover_image: "{{ popular_book.cover_image.url }}",
        friend_name: "{{ popular_book.user.username }}",
        friend_profile: "{{ popular_book.user.profile.profile_img.url }}",
      },
    {% endfor %}
  ]

  const popularBooks = document.getElementById('popular-books')
  const popularMaxPage = Math.ceil(popularBooksData.length/5)
  if(popularMaxPage === 0) {
    popularBooksRight.classList.replace("right-btn-available", "right-btn-disavailable")
  }

  for(let i=0; i<popularMaxPage; i++) {
    
    const popularBooksList = document.createElement('div')
    popularBooksList.id = `popular-books-list${i}`
    popularBooksList.classList.add("books-body", "horizontal")
    if(i !== 0) {
      popularBooksList.classList.add("hidden")
    }
    for(let j=0; j<Math.min(5, popularBooksData.length-(i*5)); j++) {
      const themeBook = document.createElement('a')
      const bookThumbnail = document.createElement('div')
      const bookTitle = document.createElement('div')
      const bookSemi = document.createElement('div')
      const bookProfile = document.createElement('div')
      bookThumbnail.classList.add("book-thumbnail")
      bookTitle.classList.add("book-title")
      bookSemi.classList.add("book-semi")
      bookProfile.classList.add("book-inner-profile")

      bookThumbnail.appendChild(bookProfile)

      themeBook.appendChild(bookThumbnail)
      themeBook.appendChild(bookTitle)
      themeBook.appendChild(bookSemi)
      themeBook.classList.add("book", "vertical", "grow")
      themeBook.style.cssText = "display:flex; justify-content: center;"

      bookTitle.innerText = popularBooksData[i*5+j].title
      bookSemi.innerText = popularBooksData[i*5+j].semi_title
      themeBook.href = BASE_URL + '/books/' + popularBooksData[i*5+j].pk + '/detail/' 
      bookThumbnail.style.cssText = `background-image: url('${popularBooksData[i*5+j].cover_image}'); background-size: auto 100%; background-repeat: no-repeat; background-position: center; position: relative;`
      bookProfile.style.cssText = `background-image: url('${popularBooksData[i*5+j].friend_profile}');`

      popularBooksList.appendChild(themeBook)
      popularBooks.appendChild(popularBooksList)
    }
  }

  let popularBookPage = 0;

  popularBooksLeft.addEventListener("click", (e) => {
    e.preventDefault()
    if(popularBookPage > 0) {
      const lastBooksList = document.getElementById(`popular-books-list${popularBookPage}`)
      const newBooksList = document.getElementById(`popular-books-list${popularBookPage-1}`)

      lastBooksList.classList.add("hidden")
      newBooksList.classList.remove("hidden")
      popularBookPage -= 1
      isEndPopularBook(popularBookPage)
    }
  })

  popularBooksRight.addEventListener("click", (e) => {
    e.preventDefault()
    if(popularBookPage < popularMaxPage-1) {
      const lastBooksList = document.getElementById(`popular-books-list${popularBookPage}`)
      const newBooksList = document.getElementById(`popular-books-list${popularBookPage+1}`)

      lastBooksList.classList.add("hidden")
      newBooksList.classList.remove("hidden")
      popularBookPage += 1
      isEndPopularBook(popularBookPage)
    }
  })

  function isEndPopularBook(popularBookPage) {
    if(popularBookPage === 0) {
      popularBooksLeft.classList.replace("left-btn-available", "left-btn-disavailable")
    }
    else {
      popularBooksLeft.classList.replace("left-btn-disavailable", "left-btn-available")
    }

    if(popularBookPage === popularMaxPage-1) {
      popularBooksRight.classList.replace("right-btn-available", "right-btn-disavailable")
    }
    else {
      popularBooksRight.classList.replace("right-btn-disavailable", "right-btn-available")
    }
  }


// 최신 북
  const newestBooksLeft = document.getElementById('newest-books-left')
  const newestBooksRight = document.getElementById('newest-books-right')


  const friendsBooks = [
    {% for friends_book in friends_books %}
      {
        pk: "{{ friends_book.pk }}",
        title: "{{ friends_book.title }}",
        semi_title: "{{ friends_book.semi_title }}",
        cover_image: "{{ friends_book.cover_image.url }}",
        friend_name: "{{ friends_book.user.username }}",
        friend_profile: "{{ friends_book.user.profile.profile_img.url }}",
      },
    {% endfor %}
  ]

  const newestBooks = document.getElementById('newest-books')
  const newestMaxPage = Math.ceil(friendsBooks.length/5)
  if(newestMaxPage === 0) {
    newestBooksRight.classList.replace("right-btn-available", "right-btn-disavailable")
  }

  for(let i=0; i<newestMaxPage; i++) {
    
    const newestBooksList = document.createElement('div')
    newestBooksList.id = `newest-books-list${i}`
    newestBooksList.classList.add("books-body", "horizontal")
    if(i !== 0) {
      newestBooksList.classList.add("hidden")
    }

    for(let j=0; j<Math.min(5, friendsBooks.length-(i*5)); j++) {
      const themeBook = document.createElement('a')
      const bookThumbnail = document.createElement('div')
      const bookTitle = document.createElement('div')
      const bookSemi = document.createElement('div')
      const bookProfile = document.createElement('div')
      bookThumbnail.classList.add("book-thumbnail")
      bookTitle.classList.add("book-title")
      bookSemi.classList.add("book-semi")
      bookProfile.classList.add("book-inner-profile")

      bookThumbnail.appendChild(bookProfile)

      themeBook.appendChild(bookThumbnail)
      themeBook.appendChild(bookTitle)
      themeBook.appendChild(bookSemi)
      themeBook.classList.add("book", "vertical", "grow")
      themeBook.style.cssText = "display:flex; justify-content: center;"

      bookTitle.innerText = friendsBooks[i*5+j].title
      bookSemi.innerText = friendsBooks[i*5+j].semi_title
      themeBook.href = BASE_URL + '/books/' + friendsBooks[i*5+j].pk + '/detail/' 
      bookThumbnail.style.cssText = `background-image: url('${friendsBooks[i*5+j].cover_image}'); background-size: auto 100%; background-repeat: no-repeat; background-position: center; position: relative;`
      bookProfile.style.cssText = `background-image: url('${friendsBooks[i*5+j].friend_profile}');`
      
      newestBooksList.appendChild(themeBook)
      newestBooks.appendChild(newestBooksList)
    }
  }

  let newestBookPage = 0;

  newestBooksLeft.addEventListener("click", (e) => {
    e.preventDefault()
    if(newestBookPage > 0) {
      const lastBooksList = document.getElementById(`newest-books-list${newestBookPage}`)
      const newBooksList = document.getElementById(`newest-books-list${newestBookPage-1}`)

      lastBooksList.classList.add("hidden")
      newBooksList.classList.remove("hidden")
      newestBookPage -= 1
      isEndNewestBook(newestBookPage)
    }
  })

  newestBooksRight.addEventListener("click", (e) => {
    e.preventDefault()
    if(newestBookPage < newestMaxPage-1) {
      const lastBooksList = document.getElementById(`newest-books-list${newestBookPage}`)
      const newBooksList = document.getElementById(`newest-books-list${newestBookPage+1}`)

      lastBooksList.classList.add("hidden")
      newBooksList.classList.remove("hidden")
      newestBookPage += 1
      isEndNewestBook(newestBookPage)
    }
  })

  function isEndNewestBook(newestBookPage) {
    if(newestBookPage === 0) {
      newestBooksLeft.classList.replace("left-btn-available", "left-btn-disavailable")
    }
    else {
      newestBooksLeft.classList.replace("left-btn-disavailable", "left-btn-available")
    }

    if(newestBookPage === newestMaxPage-1) {
      newestBooksRight.classList.replace("right-btn-available", "right-btn-disavailable")
    }
    else {
      newestBooksRight.classList.replace("right-btn-disavailable", "right-btn-available")
    }
  }
  
</script>
{% endblock script %}