{% extends 'base.html' %}

{% block content %}
<div id="select_movie" class="component-init">
  <div class="container-narrow vertical">
    <div id="select-label">영화 제목을 검색하세요.</div>
    <form action="{% url 'books:select_movie' book.pk %}" method="POST">
      {% csrf_token %}
      <input type="search" placeholder="search" name="searched" id="select-movie-search">
      <!-- <button type="submit">search</button> -->
    </form>
		{% if searched %}
    <div class="vertical">
			<h1 style="margin-bottom: 10px;">"{{ searched }}"에 대해 총 {{ movies|length }}건의 검색 결과가 있습니다. </h1>

      {% for movie in movies %}
      <div class="select-search-result horizontal">
        <div class="select-movie-content">
          {{ movie.title|truncatechars:24 }}
          {{ movie.released_date|date:'Y' }}
          {{ movie.director }}
        </div>
        <div class="select-movie-add">
          <form action="{% url 'books:create_card' book_pk=book.pk movie_pk=movie.pk %}" method="POST">
            {% csrf_token %}
            <button id="select-movie-add"></button>
          </form>
        </div>
      </div>
			{% endfor %}
			{{ people.movie }}
			{{ genre.movie }}
    </div>
		{% endif %}

  </div>
</div>
{% endblock %}